@font-face {
    font-family: 'Merriweather', serif;
    src: url('/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville', serif;
    src: url('/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville', serif;
    src: url('/assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Kurale';
    src: url('/assets/fonts/Kurale/Kurale-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: regular;
}
